<!--==========================
      Facts Section
    ============================-->
    <section id="facts">
        <div class="container wow fadeIn">
          <div class="section-header">
            <h3 class="section-title">Facts</h3>
          </div>
          <div class="row counters">
  
                    <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">232</span>
              <p>Clients</p>
                    </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">521</span>
              <p>Projects</p>
                    </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
                    </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">48</span>         
              <p>Hard Workers</p>Premier Indoor multi-sport tournaments catering to corporates. Held annually, there is a steady growth in the number of corporates participating since its initiation.</p>
            </div>
      </div>      
      </section>           
  
