 <!--==========================
      About Us Section
    ============================-->

     
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <h2 class="title">About Us</h2>
              <p>
                Sports Facilities Co Pvt.Ltd. a start up by Mr. Subhash Bose with an experience of 10 years, with a team of 48 dedicated people to provide the best in Sports Facilities, Indoor or Outdoor, having tied up with International Leading Brands. Conforming to the specifications laid down by the respective Sport Federations.
              </p>
  
                <pre><h4>We Pledge and are Committed:</h4></pre>
                  <div class="glyphicon glyphicon-thumbs-up">
              <p>&#9755;  To give the best and latest accredited concepts conforming to the international specifications with excellent after sales services.
                 &#9755;  Best Academy in Sports Management in Asia 2019. 
                </p>
              
                  </div>
        
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">48</span>         
              <p>Hard Workers</p>Premier Indoor multi-sport tournaments catering to corporates. Held annually, there is a steady growth in the number of corporates participating since its initiation.</p>
            </div>
      </div>      
                <h4 class="title"><a href="">COACHING BY PROFESSIONAL AND CERTIFIED PERSONNEL FOR BEGINNERS & INTERMEDIATES</a></h4>
                <p class="description">Swimming: Coaching facilitated by Nisha Millet the former Olympian & International Swimmer<br>
                  Football: by Bangalore Football Club<br>
                  Wall Climbing & Cross fitness: by Certified trained coaches</p>
            
            
                <h4 class="title"><a href="">SUMMER CAMP</a></h4>
                <p class="description">Multi-Sport training and education in 8 sports for enhanced motor skills<br>
                    Feedback sessions on progress of every sport and indication of best played sport<br>
                    Flexibility to enroll for 1 to 8 weeks<br>
                    Certification Coaching programs<br> 
                    Continual follow up programs for interested and talented candidates</p>
              
            
                <h4 class="title"><a href="">TOURNAMENTS & LEAGUES</a></h4>
                <p class="description">Regular fortnightly indoor cricket and football tournaments and leagues that attract regular players of all age categories at XLR8. A platform to showcase your sportive talent and a path towards excellence.</p>
             
           
                <h4 class="title"><a href="">PROPERTIES - GEN-X CRICKET AND FOOTBALL (INTER SCHOOL TOURNAMENT)</a></h4>
                <p class="description">2010 - Pioneered the Indoor Football World Cup tournament for under 16 along with 32 teams<br>
                    2011 - Expanded the School tournaments to facilitate 3 categories - Under 12, Under 14 and Under 16 with 12 teams in each category<br>
                    2011 - Introduced the first of its kind Inter-School Indoor Cricket tournament<br>
                    2014 - Progressively increased the number of teams in all sports for it to be recognized as a Premier Tournament in Bangalore</p>
              
  
        
  
  
